<!DOCTYPE html>
@{
    ViewData["title"] = "HOME";
    Layout = "/Views/_Site.cshtml";
}
 

 <div style="display:grid;">
    <p style="margin-left:10px; color: darkgreen;">
        Log in into your profile to apply for job positions of your desire or fill in a quick application form.
    </p>

  <div style="margin-left:90px">
    <div class="jobp">
        <h1 style="margin-top:40px">MetaLand</h1>
        <div class="apll">
                <a href="Home/LOGIN" class="applynow" style="color:#aaffff">Apply Now</a>
        </div>
    </div>

    <div class="jobp">
        <h1 style="margin-top:40px">SoftServe</h1>
        <div class="apll">
                <a href="Home/Login" class="applynow" style="color:#aaffff">Apply Now</a>
        </div>
    </div>

    <div class="jobp">
        <h1 style="margin-top:40px">StackSlave</h1>
        <div class="apll">
                <a href="Home/Login" class="applynow" style="color:#aaffff">Apply Now</a>
        </div>
    </div>

    <div class="jobp">
        <h1 style="margin-top:40px">CyberFolk</h1>
        <div class="apll">
                <a href="Home/Login" class="applynow" style="color:#aaffff">Apply Now</a>
        </div>
    </div>

    <div class="jobp">
        <h1 style="margin-top:40px">TechNo</h1>
        <div class="apll">
                <a href="Home/Login" class="applynow" style="color:#aaffff">Apply Now</a>
        </div>
    </div>

    <div class="jobp">
        <h1 style="margin-top:40px">WebDe</h1>
        <div class="apll">
                <a href="Home/Login" class="applynow" style="color:#aaffff">Apply Now</a>
        </div>
    </div>
    
    </div>
</div>
