#topdiv {
justify-content: center;
border-radius: 7px;
margin-bottom: 6px;
}

.nav {
    display: block;
    float: left;
    border-radius: 7px;
    background-color: #98ff98;
    border: groove;
}

.navul {
display: flex;
list-style-type: none;
overflow: hidden;
clear: both;
justify-content: space-around;
padding-left: 0px;
margin: 0px;
}

.nava {
text-decoration: none;
cursor: pointer;
text-align: center;
display: list-item;
padding: 14px 16px;
}

.nava:hover {
background-color: green;
}

.drp {
display: none;
z-index: 1;
}

.drp a {
float: none;
display: block;
text-align: center;
}

#dropdown:hover .drp {
display: block;
position: absolute;
justify-content: center;
align-content: center;
align-items: center;
}

#topdiv {
justify-content: center;
border-radius: 7px;
margin-bottom: 6px;
}

.nav {
    display: block;
    float: left;
    border-radius: 7px;
    background-color: #2e8b57;
    border: groove;
}

.navul {
display: flex;
list-style-type: none;
overflow: hidden;
clear: both;
justify-content: space-around;
padding-left: 0px;
margin: 0px;
}

.nava {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: list-item;
    padding: 14px 16px;
    color: #aaffff;
}

    .nava:hover {
        background-color: #98ff98;
        color: #2e8b57;
    }


.drp {
display: none;
z-index: 1;
}

.drp a {
float: none;
display: block;
text-align: center;
}

#dropdown:hover .drp {
display: block;
position: absolute;
justify-content: center;
align-content: center;
align-items: center;
}

.col-1{
    margin-top:10px;
}
            
.registerDiv{
    justify-content:center;
    margin-top:40px;
}

.jobp {
    display: inline-grid;
    margin: 15px;
    text-align: center;
    background-color: #2e8b57;
    border-style: solid;
    border-width: thin;
    border-radius: 3px;
    border-color: teal;
    height: 300px;
    width: 350px;
    align-content: space-between;
}

.apll{
    display:grid;
    margin-bottom:40px;
}

.applynow {
    text-decoration: none;
    text-decoration-color:darkgoldenrod;
}

